
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!--Jumpotron Title-->
    <div class="jumbotron text-center title-font">
        <div class="col-sm-6">
            <h1>
                Book Store Managment
            </h1>
            <h3>
                Exploring your new world
            </h3>
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" size="50" placeholder="The little prince">
                </div>
            </form>

            <!--
                <div id="findbox-container" class="form-inline">
                <div id="findbox">
                    <div class="search-icon"></div>
                    <div id="findbox-text">The little prince</div>
                </div>
            </div>
    -->

        </div>
        <div class="col-sm-5">
            <img src="https://i.pinimg.com/564x/fa/47/10/fa47101555be04210c41486ad438a969.jpg" class="img-responsive img-circle ">
        </div>
    </div>
</div>